<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.module.system.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.pet.module.system.model.entity.SysRole">
        <id column="id" property="id"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_name" property="roleName"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <sql id="BaseColumns">
        id, role_code, role_name, created_at
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumns"/> FROM sys_role ORDER BY id
    </select>

    <select id="selectByCode" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumns"/> FROM sys_role WHERE role_code = #{roleCode}
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumns"/> FROM sys_role WHERE id = #{id}
    </select>
</mapper>